<section class="row">
    <article class="col-md-9">
        <header>
            <h2>Article 1</h2>
            <p>
                More text, More text, More text, More text, More text, More text,
                More text, More text, More text, More text, More text, More text, 
                More text, More text, More text, More text, More text, More text, 
                More text, More text, More text, More text, More text, More text, 
                More text, More text, More text, More text, More text, More text. 
            </p>
        </header>
    </article>
    <article class="col-md-3">
        <header>
            <h2>Side 1</h2>
        </header>
        <p>Some text</p>
    </article>
</section>